@using Repository.Models;
@using Repository.Enums;
@model List<Account>
@{
    ViewData["Title"] = "Account Page";
}
<!-- Hoverable Table rows -->
<div class="card p-4">
    <div class="table-responsive text-nowrap">
        <div class="d-flex justify-content-between align-items-end">
            <div class="d-flex gap-4 align-items-end">
                <div class="col-md-6">
                    <label for="filter-query" class="col-form-label">Search</label>
                    <div>
                        <input id="filter-query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="filter-level" class="col-form-label">Status</label>
                    <select class="form-select" asp-items="Html.GetEnumSelectList<AccountStatus>()" id="filter-status">
                        <option>Choose account status</option>
                    </select>

                </div>
                <button type="button" id="form-reset" class="btn btn-outline-secondary">
                    <span class="tf-icons bx bx-reset"></span>&nbsp; Reset
                </button>
            </div>

            <a href="@Url.ActionLink("AddAccount", "Account")">
                <button type="button" class="btn btn-outline-primary">
                    <span class="tf-icons bx bxs-user-plus"></span>&nbsp; Add Account
                </button>
            </a>
        </div>
    </div>

    <div id="account-list"></div>
</div>

@section Scripts {
    <script>


        $(() => {
            getAccountList(1);
            $('#filter-query').on("input", () => getAccountList(1));
            $('#filter-status').change(() => getAccountList(1));
            $('#form-reset').click(() => {
                $('#filter-query').val("");
                $('#filter-status').prop('selectedIndex', 0);
                getAccountList(1);
            });
        })

        function getAccountList(page) {
            $.ajax({
                url: '@Url.ActionLink("GetAccounts", "Account")',
                datatype: 'html',
                method: 'GET',
                data: {
                    Query: $('#filter-query').val(),
                    Status: $('#filter-status option:selected').val(),
                    PageNumber: page
                },
                success: function (res) {
                    $('#account-list').html('').html(res);
                },
                error: function (err) {
                    console.log(err);
                }

            });
        }

        function getPage(page) {
            getAccountList(page);
        }

    </script>
}
