@using Repository.Models;

@model List<Company>
@{
    ViewData["Title"] = "Company Page";
}
@{
    var totalPages = ViewData["TotalPages"] as int?;
    var pageNumber = ViewData["PageNumber"] as int?;
}
<div class="card company-container p-4">
    <h1 class="">Company</h1>
    <div class="d-flex justify-content-between">
        <div class="col-md-3">
            <label for="filter-query" class="col-form-label">Search</label>
            <div>
                <input id="filter-query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            </div>
        </div>
        <div class="col-md-2">
            <a asp-controller="Company" asp-action="AddCompany" type="button" class="btn btn-primary float-end">
                <span class="tf-icons bx bx-plus"></span>Add New
            </a>
        </div>
    </div>

    <div id="company-list"></div>

</div>

@section Scripts {
<script>


    $(() => {
        getCompanyList(1);
        $('#filter-query').on("input", () => getCompanyList(1));
    })

    function getCompanyList(page) {
        $.ajax({
            url: '@Url.ActionLink("GetCompany", "Company")',
            datatype: 'html',
            method: 'GET',
            data: {
                Query: $('#filter-query').val(),
                PageNumber: page
            },
            success: function (res) {
                $('#company-list').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }

        });
    }

    function getPage(page) {
        getCompanyList(page);
    }
</script>
}
